@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;700&display=swap');

body {
  /* Texto */
  font-family: 'Open Sans', sans-serif;
}

.navbar .container-fluid {
  height: 3.75rem;
  padding: 1.25rem 9.375rem;
}

.bg-light {
  background-color: #660066!important;
}

.h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.nav-item li a {
  text-align: left;
  font-size: 16px;
}

.titulo-footer h2 {
  font-size: 40px;
}

header {
  width: 100%;
  height: 46.0625rem;
  display: block;
  clear: both;
  position: relative;
  padding-top: 3.75rem;
}

header img {
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
  width: 100%;
  height: 100%;
}

.object-fit {
  object-fit: cover;
  object-position: center;
}

.presentation {
  padding: 29.6875rem 28.90625rem 2.8125rem 28.84375rem;
}

.presentation h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}

.name {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  display: block;
  border-top: 2px solid #ffffff;
}

#about {
  margin-top: 5.25rem;
}

@media (max-width: 576px){
  .navbar .container-fluid {
    padding: 0.625rem 2.5rem;
    align-items: flex-start;
  }

}
